/* ==== GLOBAL FONTS AND TITLES ==== */

.title-text {
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-font-size: 90px;
    -fx-fill: #a8e6cf;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}

.subtitle-text {
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-fill: #a8e6cf;
}

.label-text {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

/* ==== HOW TO PLAY ==== */

.how-to-key {
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-fill: #feca57;
}

.how-to-desc {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-fill: white;
}

/* ==== FOREST BUTTON (MAIN MENU) ==== */

.forest-btn-bg {
    -fx-fill: rgba(0, 0, 0, 0.18);
    -fx-stroke: rgba(168, 230, 207, 0.6);
    -fx-stroke-width: 2;
}

.forest-btn:hover .forest-btn-bg {
    -fx-fill: rgba(0, 0, 0, 0.38);
    -fx-stroke: rgba(168, 230, 207, 1.0);
}

.forest-btn:pressed .forest-btn-bg {
    -fx-fill: rgba(0, 0, 0, 0.55);
}

.forest-btn-accent {
    -fx-fill: #a8e6cf;
}

.forest-btn-text {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-fill: #e8f5d0;
}

.forest-btn:hover .forest-btn-text {
    -fx-fill: white;
}

/* ==== FOREST BUTTON (GAMEOVER & SELECT SCENE) ==== */
/* Có opacity hơi khác một chút, hoặc có thể dùng chung class và overide trong Java nếu cần. Nhưng ta có thể làm chung class */
.forest-btn-bg-solid {
    -fx-fill: rgba(0, 0, 0, 0.18);
    -fx-stroke: rgba(168, 230, 207, 0.8);
    -fx-stroke-width: 1;
}
.forest-btn:hover .forest-btn-bg-solid {
    -fx-fill: rgba(0, 0, 0, 0.38);
}
.forest-btn:pressed .forest-btn-bg-solid {
    -fx-fill: rgba(0, 0, 0, 0.55);
}

/* ==== SELECT SCENE ==== */

.select-map-name {
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-font-size: 55px;
    -fx-fill: #a8e6cf;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.select-mode-name {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-fill: #feca57;
}

.select-mode-title {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-fill: white;
}

/* ==== GAME OVER SCENE ==== */

.gameover-title {
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-font-size: 80px;
    -fx-fill: #a8e6cf;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}

.gameover-winner {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 45px;
    -fx-fill: #f1c40f;
}
